.from-group input{
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    right: 50%;
    width: 200%;
    height: 30px;
    background-color: #f2f2f2;
}

.container{
    margin-top: 10%;
    margin-left: 20%;
    padding: 20px;
    width: 50%;
    border: 10px solid rgba(59, 24, 234, 0.066);
    border-radius: 50px;
    background-color: #f2f2f2;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(158, 155, 155, 0.822);
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    border-radius: 50px;
    padding: 2%;
    width: 30%;
    background-color: #f2f2f2;
    border: none;
    box-shadow: 0 0 10px rgba(158, 155, 155, 0.3);
    margin-top: 5%;
}

.sign_in_up{ 
    margin-top: 5%;
    margin-left: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #9d9b9b;
}

.sign_in_up:hover{
    text-shadow: 0 0 10px rgba(59, 24, 234, 0.292);
    color: #3b18ea;
    cursor: pointer;
    border: none;
}


.btn:hover{
    background-color: #3b18ea;
    color: #f2f2f2;
    text-shadow: 0 0 20px rgba(59, 24, 234, 0.728);
    transform: scale(1.05);
}
.btn:active {
    transform: scale(0.95);
}